@font-face { 
	font-family: futuraff; 
	src: url('../fonts/FuturaMTV-DemiBoldItalic.ttf'); 
} 

@font-face { 
	font-family: futuraff; 
	src: url('../fonts/FuturaSB-BoldItalic.ttf'); 
	font-weight: bold;
} 

@font-face { 
	font-family: bebasff; 
	src: url('../fonts/BebasNeue Regular.otf'); 
} 
@font-face { 
	font-family: bebasff; 
	src: url('../fonts/BebasNeue Bold.otf'); 
	font-weight: bold;
} 
