body {
	background: url(../img/bg_microsite.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #fa87f0;
	padding: 0;
	margin: 0;
	font-family: bebasff, helvetica, arial;
	font-size: 15px;
	line-height: 130%;
	font-weight: bold;
}
.container {
	width: 980px;
	margin: 0 auto;
	text-align: center;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover,
.form .btn_submit:hover {
	opacity: 0.7;
}

.microsite {
	position: absolute;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 44px;
	line-height: 130%;
	color: #000;
	height: 450px;
	top: 50%;
	margin-top: -225px;
}
.logo {
	height: 150px;
}
.logo img {
	height: 100%;
}
.logo_cover {
	width: 280px;
}
.logo_cover img {
	width: 100%;
}
.form {
	width: 400px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 18px;
}
.form strong {
	display: block;
	font-size: 22px;
	margin: 15px 0 5px;
}
.form .input {
	border: 0;
	width: 100%;
	padding: 10px;
	font-family: bebasff, helvetica, arial;
	font-size: 16px;
}
.form .select3 {
	border: 0;
	width: 27%;
	font-family: bebasff, helvetica, arial;
	font-size: 16px;
	margin: 5px 10px;
	height: 30px;
}
.form .btn_submit {
	background: #ffc720;
	color: #000;
	border: 0;
	padding: 10px 30px;
	border-radius: 3px;
	font-family: bebasff, helvetica, arial;
	font-size: 22px;
	cursor: pointer;
	text-transform: uppercase;
}

.sosmed {
	background: #0061c5;
	color: #fff;
	border: 0;
	padding: 15px 0;
	width: 150px;
	border-radius: 3px;
	font-family: bebasff, helvetica, arial;
	font-size: 18px;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
}
.tw {
	background: #00baff;
}
@media screen and (max-width: 768px) {
	body {
		background-position: top;
		background-size: 450%;
		background-attachment: fixed;
	}
	
	.logo_cover {
		width: 50%;
		margin-bottom: 50px;
	}
	.microsite {
		font-size: 30px;
	}
	.container {
		width: 100%;
	}
	.form {
		width: 90%;
	}
	.form .input {
		width: 90%;
	}
	.form .select3 {
		margin: 5px;
		height: auto;
	}
	.sosmed {
		width: 120px;
	}
}
@media screen and (max-width: 320px) {
	body {
		background-position: top;
		background-size: 350%;
	}
	.microsite {
		position: relative;
		height: auto;
		top: 0;
		margin-top: 20px;
	}
}





