body {
	background:url(../img/bg.jpg) top center repeat-x;
	background-color: #390023;
	padding: 0;
	margin: 0;
	font-family: futuraff, helvetica, arial;
	font-size: 13px;
	line-height: 130%;
	color: #6d6e71;
	padding-top: 60px;
	/*overflow: hidden;*/
}
.container {
	width: 980px;
	margin: 0 auto;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
}

.framebar {
	background: #000;
	color: #fff;
	height: 55px;
	line-height: 55px;
	font-family: futuraff, helvetica, arial;
	font-weight: bold;
	font-size: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}
.framebar a {
	color: #fff;
	text-decoration: none;
}
#header .logo {
	float: left;
}
#header .leaderboard {
	float: right;
	padding: 20px 0;
}
#nav {
	background: #000;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-family: futuraff, helvetica, arial;
	padding: 0 20px;
	font-weight: bold;
	font-size: 18px;
}
#nav a {
	display: inline-block;
	padding: 0px 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	
}
#nav a:hover,
#nav a.selected {
	color: #cf76c0;
}

#footer {
	font-family: futuraff, helvetica, arial;
	background: #000;
	color: #fff;
	padding: 30px;
	margin-bottom: 20px;
}
#footer .logo {
	float: left;
	width: 200px;
	padding-top: 10px;
}
#footer .logo img {
	width: 80%;
}
#footer .link {
	float: left;
	width: 170px;
	text-transform: uppercase;
	font-size: 15px;
}
/*#footer .link2 {
	width: 160px;
}*/
#footer a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding-bottom: 5px;
}
#footer a:hover {
	color: #cf76c0;
}
#footer strong {
	display: block;
	padding-bottom: 10px;
	color: #cf76c0;
}


.title_page {
	border-top: 1px solid #000;
	position: relative;
	margin: 20px 0;
}
.title_page span {
	display: inline;
	background: #fff;
	padding-right: 20px;
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	margin-top: -10px;
	position: relative;
}

.content {
	background: #fff;
	color: #000;
	padding: 20px;
}
.c_left {
	float: left;
	width: 620px;
}
.c_right {
	width: 300px;
	float: right;
}
.hl {
	background: #000;
	color: #fff;
	height: 430px;
	overflow: hidden;
	position: relative;
}
.hl ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 620px;
	height: 430px;
	overflow: hidden;
}
.hl ul li {
	float: left;
	width: 620px;
	height: 430px;
}
.hl ul li .box_img {
	width: 620px;
	height: 310px;
	overflow: hidden;
	text-align: center;
}
.hl ul li .box_img img {
	height: 100%;
	display: block;
}
.hl ul li .text {
	text-align: center;
	text-transform: uppercase;
	padding:40px 10px 0;
}
.hl ul li .text h1 {
	font-size: 26px;
	line-height: 130%;
	font-weight: bold;
	color: #fff;
}
.hl ul li .text h1.big {
	font-size: 42px;
	line-height: 130%;
}
.hl .page_slide {
	position: absolute;
	width: 100%;
	bottom: 90px;
}
.page_slide {
	text-align: center;
}
.page_slide a span {
	display: none;
}
.page_slide a {
	display: inline-block;
	cursor: pointer;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #fff;
	margin-right: 5px;
}
.page_slide a.selected,
.page_slide a:hover {
	background: #cf76c0;
}

.box_1 {
	border: 1px solid #000;
	position: relative;
}
.box_2 {
	border: 0;
	border-top: 1px solid #000;
	margin-top: 30px;
	margin-bottom: 15px;
}
.box_1 .title {
	text-align: center;
	position: relative;
	margin-top: -10px;
	text-transform: uppercase;
}
.box_1 .title span{
	display: inline-block;
	background: #fff;
	padding: 3px 10px;
	font-size: 30px;
	position: relative;
	z-index: 2;
	font-weight: bold;
}
.box_2 .title {
	margin-bottom: 15px;
}
.quiz_box {
	text-align: center;
	font-family: 'myriad pro', helvetica, arial;
	font-size: 18px;
	line-height: 130%;
}
.quiz_box .a {
	text-align: left;
	padding: 20px 20px;
	font-size: 16px;
}
.quiz_box .a label {
	display: block;
	padding-bottom: 5px;
}
.quiz_box .a label input {
	float: left;
	margin-right: 10px;
}
.quiz_box .a label .text {
	float: left;
	width: 90%;
	width: calc(100% - 30px);
}
.quiz_box .btn_submit {
	background: #cf76c0;
	color: #fff;
	border: 0;
	padding: 5px 30px;
	border-radius: 3px;
	font-family: 'myriad pro', helvetica, arial;
	font-style: italic;
	font-size: 18px;
	cursor: pointer;
}
.quiz_box .btn_submit:hover {
	opacity: 0.8;
}



.list_musik {
	padding: 0 15px;
	margin: 0;
	list-style: none;
}
.list_musik li {
	padding: 13px 0 14px;
	border-bottom: 1px solid #ccc;
	height: 55px;
	position: relative;
}
.list_musik li:last-child {
	border: 0;
}
.list_musik li a {
	color: #000;
}
.list_musik li .pic {
	width: 55px;
	height: 55px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.list_musik li .text {
	float: left;
	width: calc(100% - 90px);
	font-size: 12px;
}
.list_musik li .text h3 {
	font-weight: bold;
}
.list_musik li .text .publisher {
	color: #747474;
	position: absolute;
	bottom: 10px;
}
.list_musik li .play {
	float: right;
	width: 20px;
}
.list_1 .box_img {
	width: 100%;
	margin-bottom: 10px;
}
.list_1 h2 {
	font-weight: bold;
	font-size: 20px;
	line-height: 110%;
	text-transform: uppercase;
	min-height: 50px;
}
.list_1 h2.big {
	font-size: 32px;
	line-height: 110%;
}
.list_300 {
	width: 300px;
	float: left;
	margin-right: 20px;
	height: 280px;
}
.list_300:nth-child(even) {
	margin-right: 0;
}
.ico_list {
	height: 14px;
	line-height: 14px;
}
.ico_list img{
	float: left;
	margin-right: 5px;
}
.list_2 {
	text-align: center;
	width: 25%;
	width: calc(25% - 12px);
	margin-right: 15px;
	float: left;
}
.list_2:last-child {
	margin-right: 0;
}
.list_2 a {
	display: block;
}
.list_2 .box_img{
	width: 100%;
	margin-bottom: 10px;
}
.list_2 h3 {
	font-size: 20px;
}

.banner_reg {
	margin-top: 20px;
}
.skin1 {
	position: fixed;
	left: 50%;
	margin-left: -600px;
	top: 80px;
}
.skin2 {
	position: fixed;
	right: 50%;
	margin-right: -600px;
	top: 80px;
}





