/*body {
	background:url(../img/bg.jpg) top center repeat-x;
	background-color: #390023;
	padding: 0;
	margin: 0;
	font-family: futuraff, helvetica, arial;
	font-size: 13px;
	line-height: 130%;
	color: #6d6e71;
	padding-top: 60px;
}*/
body {
	background:url(../img/bg_microsite.jpg) center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: futuraff, helvetica, arial;
	font-size: 13px;
	line-height: 130%;
	color: #6d6e71;
	padding-top: 60px;
}
.pop_body {
	background: none;
	padding-top: 0;
}
.container {
	width: 980px;
	margin: 0 auto;
}

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
a:hover,
.login_box form .btn:hover {
	opacity: 0.8;
}

.framebar {
	background: #000;
	color: #fff;
	height: 55px;
	line-height: 55px;
	font-family: futuraff, helvetica, arial;
	font-weight: bold;
	font-size: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}
.framebar a {
	color: #fff;
	text-decoration: none;
}
.logo_float {
	display: none;
}
.framebar .search,
#nav .search {
	width: 250px;
	margin-right: 35px;
	margin-top: 10px;
}
.framebar .search form,
#nav .search  form {
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	height: 30px;
	width: 100%;
}
.framebar .search .input,
#nav .search .input {
	float: left;
	font-family: 'myriad pro', helvetica, arial;
	font-size: 15px;
	padding: 8px 12px;
	border: 0;
	background-color: none;
	outline: none;
}
.framebar .search .btn,
#nav .search .btn {
	float: right;
	height: 30px;
}
#nav .search {
	display: none;
}


#header .logo {
	float: left;
}

#header .leaderboard {
	float: right;
	padding: 20px 0;
}
#nav {
	background: #000;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-family: futuraff, helvetica, arial;
	padding: 0 20px;
	font-weight: bold;
	font-size: 18px;
}
#nav a {
	display: inline-block;
	padding: 0px 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	
}
#nav a:hover,
#nav a.selected {
	color: #1ca9d7;
	opacity: 1;
}
#nav .sign,
#nav .mtv {
	display: none;
}

#footer {
	font-family: futuraff, helvetica, arial;
	background: #000;
	color: #fff;
	padding: 30px;
	margin-bottom: 20px;
}
#footer .logo {
	float: left;
	width: 200px;
	padding-top: 10px;
}
#footer .logo img {
	width: 80%;
}
#footer .link {
	float: left;
	width: 170px;
	text-transform: uppercase;
	font-size: 15px;
}
/*#footer .link2 {
	width: 160px;
}*/
#footer a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding-bottom: 5px;
}
#footer a:hover {
	color: #cf76c0;
}
#footer strong {
	display: block;
	padding-bottom: 10px;
	color: #cf76c0;
}


.title_page {
	border-top: 1px solid #000;
	position: relative;
	margin: 20px 0;
}
.title_page span {
	display: inline;
	background: #fff;
	padding-right: 20px;
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	margin-top: -10px;
	position: relative;
}
.breadcrumb {
	border-top: 1px solid #000;
	position: relative;
	margin: 20px 0 40px;
}
.breadcrumb span {
	display: inline;
	background: #fff;
	padding-right: 20px;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: -8px;
	position: absolute;
}

.content {
	background: #fff;
	color: #000;
	padding: 20px;
}
.c_left {
	float: left;
	width: 620px;
}
.c_right {
	width: 300px;
	float: right;
}
.hl {
	background: #000;
	color: #fff;
	height: 430px;
	overflow: hidden;
	position: relative;
}
.hl ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 620px;
	height: 430px;
	overflow: hidden;
}
.hl ul li {
	float: left;
	width: 620px;
	height: 430px;
}
.hl ul li .box_img {
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.hl ul li .box_img img {
	height: 100%;
	display: block;
}
.hl ul li .text {
	text-align: center;
	text-transform: uppercase;
	padding:40px 10px 0;
}
.hl ul li .text h1 {
	font-size: 26px;
	line-height: 130%;
	font-weight: bold;
	color: #fff;
}
.hl ul li .text h1.big {
	font-size: 42px;
	line-height: 130%;
}
.hl .page_slide {
	position: absolute;
	width: 100%;
	bottom: 90px;
}
.page_slide {
	text-align: center;
}
.page_slide a span {
	display: none;
}
.page_slide a {
	display: inline-block;
	cursor: pointer;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #fff;
	margin-right: 5px;
}
.page_slide a.selected,
.page_slide a:hover {
	background: #cf76c0;
}

.box_1 {
	border: 1px solid #000;
	position: relative;
}
.box_2 {
	border: 0;
	border-top: 1px solid #000;
	margin-top: 30px;
	margin-bottom: 15px;
}
.box_1 .title {
	text-align: center;
	position: relative;
	margin-top: -10px;
	text-transform: uppercase;
}
.box_1 .title span{
	display: inline-block;
	background: #fff;
	padding: 3px 10px;
	font-size: 30px;
	position: relative;
	z-index: 2;
	font-weight: bold;
}
.box_2 .title {
	margin-bottom: 15px;
}
.box_2a .title {
	height: 30px;
}
.box_2a .title span {
	float: left;
	font-size: 24px;
	padding-left: 0;
}
.quiz_box {
	text-align: center;
	font-family: 'myriad pro', helvetica, arial;
	font-size: 18px;
	line-height: 130%;
}
.quiz_box .a {
	text-align: left;
	padding: 20px 20px;
	font-size: 16px;
}
.quiz_box .a label {
	display: block;
	padding-bottom: 5px;
}
.quiz_box .a label input {
	float: left;
	margin-right: 10px;
}
.quiz_box .a label .text {
	float: left;
	width: 90%;
	width: calc(100% - 30px);
}
.quiz_box .btn_submit {
	background: #cf76c0;
	color: #fff;
	border: 0;
	padding: 5px 30px;
	border-radius: 3px;
	font-family: 'myriad pro', helvetica, arial;
	font-style: italic;
	font-size: 18px;
	cursor: pointer;
}
.quiz_box .btn_submit:hover {
	opacity: 0.8;
}



.list_musik {
	padding: 0 15px;
	margin: 0;
	list-style: none;
}
.list_musik li {
	padding: 13px 0 14px;
	border-bottom: 1px solid #ccc;
	height: 55px;
	position: relative;
}
.list_musik li:last-child {
	border: 0;
}
.list_musik li a {
	color: #000;
}
.list_musik li .pic {
	width: 55px;
	height: 55px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.list_musik li .text {
	float: left;
	width: calc(100% - 90px);
	font-size: 12px;
	line-height: 110%;
}
.list_musik li .text h3 {
	font-weight: bold;
}
.list_musik li .text .publisher {
	color: #747474;
	position: absolute;
	bottom: 10px;
}
.list_musik li .play {
	float: right;
	width: 20px;
}
.list_1 .box_img {
	width: 100%;
	margin-bottom: 10px;
}
.list_1 h2 {
	font-weight: bold;
	font-size: 20px;
	line-height: 110%;
	text-transform: uppercase;
	min-height: 50px;
}
.list_1 h2.big {
	font-size: 32px;
	line-height: 110%;
}
.list_300 {
	width: 300px;
	float: left;
	margin-right: 20px;
	height: 280px;
}
.list_300:nth-child(even) {
	margin-right: 0;
}
.ico_list {
	height: 14px;
	line-height: 14px;
}
.ico_list img{
	float: left;
	margin-right: 5px;
}
.list_2 {
	text-align: center;
	width: 25%;
	width: calc(25% - 12px);
	margin-right: 15px;
	float: left;
}
.list_2:last-child {
	margin-right: 0;
}
.list_2 a {
	display: block;
}
.list_2 .box_img{
	width: 100%;
	margin-bottom: 10px;
}
.list_2 h3 {
	font-size: 20px;
	line-height: 100%;
}
.list_2b .box_img {
	margin-bottom: 5px;
}
.list_2b h3 {
	text-align: left;
	font-size: 14px;
	text-transform: uppercase;
}
.list_3 {
	width: 33.3%;
	width: calc(33.3% - 16px);
	margin: 5px 8px;
	float: left;
}
.list_3 .box_img {
	width: 100%;
}
.list_4 {
	width: 100%;
	margin: 15px 0;
	float: left;
}
.list_4 .box_img {
	width: 200px;
	float: left;
	margin-right: 20px;
}
.list_4 .text {
	float: left;
	width: calc(100% - 230px);
	font-weight: normal;
}
.list_4 .text h2 {
	font-size: 26px;
	padding-bottom: 5px;
	line-height: 110%;
}
.video_list a {
	width: 100%;
	position: relative;
}
.video_list .box_img {
	width: 100%;
}
.video_list .play {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -25px;
}
.scr_list {
	background-color: #eeeeee;
	height: 140px;
	overflow: hidden;
	margin-bottom: 15px;
}
.scr_list .box_img {
	width: 140px;
	float: left;
}
.scr_list .text {
	float: left;
	width: calc(100% - 170px);
	padding: 15px;
}
.scr_list .text .jdl h2 {
	font-weight: bold;
	font-size: 20px;
	color: #000;
	padding-bottom: 10px;
}
.scr_list .text .jdl h2 span {
	color: #666666;
	font-weight: normal;
}
.scr_list .audio_area {
	padding-bottom: 15px;
}



.banner_reg {
	margin-top: 20px;
	text-align: center;
}
.skin1 {
	position: fixed;
	left: 50%;
	margin-left: -600px;
	top: 80px;
}
.skin2 {
	position: fixed;
	right: 50%;
	margin-right: -600px;
	top: 80px;
}

.snap_title {
	font-family: 'myriad pro', helvetica, arial;
	font-size: 15px;
	margin-bottom: 30px;
}
.snap_title h1 {
	font-weight: bold;
	font-size: 30px;
	line-height: 100%;
	padding-bottom: 30px;
	text-transform: uppercase;
	font-family: futuraff, helvetica, arial;
}

.loadmore {
	text-align: center;
	color: #ccc;
	font-size: 18px;
	height: 120px;
}
.loadmore img {
	width: 50px;
	margin-bottom: 10px;
}
.loadmore a {
	display: inline-block;
	width: 150px;
	background-color: #000;
	color: #fff;
	padding: 10px 0;
	font-weight: bold;
}


 
/*s:detail*/
.detail .pic_detail {
	width: 100%;
	margin-bottom: 20px;
}
.detail .pic_detail img {
	width: 100%;
}
.detail .text_detail {
	font-family: 'myriad pro', helvetica, arial;
	font-size: 16px;
	line-height: 130%;
}
.detail .share {
	padding: 20px 0;
}
.share .sh {
	float: left;
	margin-right: 10px;
}
.detail .map {
	margin: 20px 0;
}
.detail img {
	max-width: 100%;
}

/*e:detail*/


/*s:login*/
.login_box {
	width: 480px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	font-size: 18px;
}
.login_box h2 {
	font-weight: bold;
	font-size: 32px;
}
.login_box form {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 20px 10px;
	margin: 20px 0;
	font-family: 'myriad pro', helvetica, arial;
	font-size: 18px;
}
.login_box form .t1 {
	float: left;
	width: 25%;
	text-align: left;
	padding-top: 15px;
}
.login_box form .t2 {
	float: left;
	width: 75%;
	text-align: left;
}
.login_box form .t2 .input {
	background-color: #cccccc;
	border-radius: 3px;
	padding: 10px;
	width: 90%;
	border: 0;
	font-family: 'myriad pro', helvetica, arial;
	font-size: 18px;
	text-align: left;
}
.login_box form select {
	background-color: #cccccc;
	border-radius: 3px;
	padding: 10px;
	width: 95%;
	border: 0;
	font-family: 'myriad pro', helvetica, arial;
	font-size: 18px;
	text-align: left;
	height: 40px;
}
.login_box form .select3 {
	float: left;
	width: 31%;
	margin-right: 5px;
} 
.login_box form .btn {
	background-color: #666666;
	border: 0;
	border-radius: 3px;
	padding: 10px 0;
	width: 150px;
	font-family: 'myriad pro', helvetica, arial;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.login_box .or {
	font-size: 32px;
	font-weight: bold;
}
/*e:login*/


/*pop*/
/*.pop_container {
	margin: 0 auto;
	width: 680px;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 50%;
	margin-left: -340px;
	-webkit-animation: move_bot 0.5s;
	animation: move_bot 0.5s;
}*/
.video_container {
	background-color: #fff;
	width: 580px;
	margin: 0 auto;
	position: relative;
	padding: 35px 25px;
	margin-top: 60px;
	color: #000;
}
.video_container h1 {
	font-size: 36px;
	line-height: 100%;
	margin-bottom: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.video_area {
	width: 100%;
}
.mtvvideo {
	width: 100%;
}
.video_container .nav2 {
	float: left;
}
.video_container .nav2 a {
	float: left;
	height: 20px;
}
.video_container .nav2 a:first-child {
	padding-right: 10px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}
.video_container .share a {
	font-family: 'myriad pro', helvetica, arial;
	margin-right: 15px;
	height: 25px;
	line-height: 25px;
	float: left;
}
.video_container .share a img {
	float: left;
	margin-right: 5px;
}
.video_container .share a span {
	float: left;
}
.pop_bg {
	height: 100%;
	position: absolute;
	width: 100%;
}
.pic_area {
	width: 100%;
}
.pic_area img {
	width: 100%;
}
/*e:pop*/


#nav_menu_close,
#nav_menu {
	display: none;
}

.wpgal {
    background-color: #000;
    width: 300px;
    height: 187.5px;
    position: relative;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    margin: 0 auto;
}
.wpgal #images {
    width: 300px;
    height: 150px;
    background:#000;
}
.wpgal #images div {
    width:300px;
    height: 150px;
    display:block;
    float:left;
    background:#000;
}
.wpgal #images div img {
    width:300px;
    height:150px;
}
.wpgal #thumbs {
    width: 320px;
    height: 37.5px;
    float:left;
    border-top: 1px solid #fff;
}
.wpgal #thumbs>div {
    float:left;
    width:36.5px;
    height:36.5px;
    text-align:center;
    overflow:hidden;
    display:block;
    border-right: 1px solid #fff;
    opacity: 0.7;
}
.wpgal #thumbs>div:hover, 
#thumbs>div.selected {
    cursor:pointer;
    opacity: 1;
}
.wpgal #thumbs .box_img {
    width: 100%;
}
.nav_gal {
    position: absolute;
    bottom: 0px;
    height: 20px;
    padding: 8px 8px;
    width: 20px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
    opacity: 0.7;
}
.nav_gal:hover {
    opacity: 1;
}
.nav_gal_r {
    right: 0;
}

.pagingmtv a {
	font-size: 20px;
	color: #000;
}
.pagingmtv a.selected {
	background-color: #000;
}
.btn_loadmore {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
	display: none;
}
.btn_loadmore a {
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	font-size: 20px;
}
.close_box_style {
	font-size: 24px;
}




