@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	#header .leaderboard {
		display: none;
	}
	.c_left {
		width: calc(100% - 320px);
	}
	.hl {
		background: #000;
		color: #fff;
		height: 300px;
		overflow: hidden;
		position: relative;
	}
	.hl ul,
	.hl ul li {
		height: 310px;
	}
	.hl ul li .text {
		position: relative;
		z-index: 2;
	}
	.hl ul li .text h1 {
		font-size: 18px;
	}
	.hl .page_slide {
		bottom: 110px;
	}
	.box_2.w300 {
		width: 100%;
	}
	.list_1.list_300 {
		width: calc(50% - 10px);
		float: left;
		margin-right: 10px;
		height: 220px;
	}
	.list_1 h2.big {
		font-size: 24px;
	}
	.login_box {
		width: 100%;
	}
}
@media screen and (max-width: 500px) {
	.framebar .fl,
	.framebar .search,
	.framebar .fr,
	#header,
	#nav,
	#nav span {
		display: none;
	}
	#nav .search {
		display: block;
	}
	.framebar .logo_float {
		height: 50px;
		float: left;
		padding-left: 10px;
		padding-top: 3px;
		display: block;
	}
	.framebar .logo_float img {
		height: 100%;
	}
	.framebar #nav_menu {
		display: block;
		position: fixed;
		z-index: 3;
		right: 0;
		top: 0;
		font-size: 40px;
		font-weight: bold;
		color: #81a22d;
		padding: 14px;
		height: 22px;
		cursor: pointer;
	}
	.framebar #nav_menu span{
		display: block;
		width: 25px;
		margin-bottom: 3px;
		height: 5px;
		background-color: #fff;
	}
	#header .logo {
		display: none;
	}
	#nav_menu_close {
		display: none;
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		font-size: 46px;
		font-weight: bold;
		color: #fff;
		width: 55px;
		height: 55px;
		background: #1f1f1f;
		line-height: 55px;
		cursor: pointer;
		text-align: center;
	}
	#nav_menu_close span {
		display: inline-block;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#nav {
		background-color: #1f1f1f;
		position: fixed;
		top: 55px;
		z-index: 5;
		overflow-x: hidden;
		overflow-y: scroll;
		height: calc(100% - 55px);
		width: 100%;
		line-height: 50px;
		padding: 0;
	}
	#nav a {
		display: block;
		width: 100%;
		padding: 0 20px;
	}
	#nav .sign,
	#nav .mtv {
		display: block;
	}
	#nav .sign {
		border-top: 1px solid #424242;
		border-bottom: 1px solid #424242;
	}
	#nav .search {
		padding: 10px 0;
		margin: 0 auto;
	}
	.title_page span {
		font-size:36px;
	}
	.c_left,
	.c_right {
		width: 100%;
	}
	.hl ul li .text {
		padding:20px 10px 0;
	}
	#footer {
		text-align: center;
		margin-bottom: 0;
	}
	#footer .logo {
		width: 100%;
		margin-bottom: 20px;
	}
	#footer .logo img {
		width: 50%;
	}
	#footer .link {
		width: 50%;
		margin-bottom: 20px;
	}
	#footer .link2 {
		height: 180px;
	}
	.hl .page_slide {
		display: none !important;
	}
	.scr_list {
		height: auto;
	}
	.scr_list .box_img{
		width: 100%;
	}
	.scr_list .text {
		width: calc(100% - 30px);
	}
	.list_2 {
		width:calc(50% - 15px);
		height: 230px;
	}
	
	.hl ul li .text h1.big {
		font-size: 32px;
	}
	.list_3 {
		width: calc(50% - 16px);
	}
	.video_container {
		width: calc(100% - 40px);
		margin: 5px;
		padding: 15px;
		margin-top: 50px;
	}
	.video_container h1 {
		font-size: 26px;
		line-height: 100%;
	}
	.video_container .nav2 {
		margin: 0 auto;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.video_container .nav2 a {
		float: none;
	}
	.video_container .nav2 a:first-child {
		border: 0;
	}
	#pop_box_now iframe {
		overflow-y: hidden;
	}
	.login_box form .t1,
	.login_box form .t2 {
		width: 100%;
		padding-bottom: 3px;
	}

	.login_box form select {
		height: auto;
	}
	.list_4 .box_img {
		width: 100px;
	}
	.list_4 .text {
		width: calc(100% - 130px);
	}
	.list_4 .text h2 {
		font-size: 20px;
		line-height: 110%;
	}
	.loadmore {
		display: none;
	}
	.btn_loadmore {
		display: block;
	}
	.list_2 h3 {
		font-size: 18px;
		line-height: 110%;
	}
	.list_musik li .text {
		font-size: 12px;
		line-height: 110%;
	}
	.banner_reg img {
		max-width: 100%;
	}
	.list_1 h2 {
		font-size: 16px;
		line-height: 110%;
	}
	.list_1.list_300 {
		height: 240px;
	}
	.list_1 h2.big {
		font-size: 16px;
	}
	.ico_list {
		font-size: 11px;
	}
	.ico_list.mr15 {
		margin-right: 5px;
	}
	.c_right {
		margin-top: 15px;
	}
}
@media screen and (max-width: 320px) {
	.hl {
		height: 250px;
	}
	.list_1 h2 {
		font-size: 16px;
		min-height:30px;
	}
	.list_2 {
		margin-right: 10px;
		width: calc(50% - 10px);
	}
	.list_1 h2.big {
		font-size: 20px;
	}
	.ico_list {
		font-size: 11px;
	}
	.list_2 h3 {
		font-size: 16px;
		line-height: 110%;
	}
	.list_musik li .text {
		width: calc(100% - 70px);
	}
	.list_musik li .play {
		position: absolute;
		right: 0;
		top: 10px;
	}
	.list_musik li .text h3 {
		padding-bottom: 3px;
	}
}
